<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width,
    initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

  </head>
  <body ng-app="todo" ng-controller="TodoCtrl">
    <ion-side-menus>

      <!-- Center content -->
      <ion-side-menu-content>
        <ion-header-bar class="bar-dark">
          <button class="button button-icon" ng-click="toggleProjects()">
            <i class="icon ion-navicon"></i>
          </button>
          <h1 class="title">{{activeProject.title}}</h1>
          <button style="float: right" class="button button-icon" ng-click="delProject(activeProject)">
            <i class="icon ion-close"></i>
          </button>
          <button class="button button-icon" ng-click="newTask()">
            <i class="icon ion-compose"></i>
          </button>
        </ion-header-bar>
        <ion-content scroll="true">
          <ion-list>
            <ion-item ng-repeat="task in activeProject.tasks" class="item-remove-animate">
              <div style="white-space: pre-line">
                {{task.title}}
              </div>
              <button style="float: right" class="button button-icon button-small" ng-click="removeTask(task)">
                <i class="icon ion-trash-a"></i>
              </button>
              <button style="float:right" class="button button-icon button-small"
              ng-click="doEdit(task)">
                <i class="icon ion-edit"></i>
              </button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>

      <!-- Left menu -->
      <ion-side-menu side="left">
        <ion-header-bar class="bar-dark">
          <h1 class="title">Projects</h1>
          <button class = "button button-icon ion-plus" ng-click="makeProject()"></button>
        </ion-header-bar>
        <ion-content scroll='true'>
          <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="project in projects" ng-click ="selectProject(project, $index)" ng-class="{active: activeProject == project}">
              {{project.title}}
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

      <script id="new-task.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar class="bar-secondary">
            <h1 class="title">New Task</h1>
            <button class="button button-clear button-royal"
            ng-click="closeNewTask()">Cancel</button>
          </ion-header-bar>

          <ion-content scroll="false">
            <form ng-submit="createTask(task)">
              <div class="list">
                <label class="item item-input">
                  <textarea style="resize:none" cols="123" rows="8" placeholder="Add a new task..."
                  ng-model="task.title" autofocus></textarea>
                </label>
              </div>
              <div class="padding">
                <button type="submit" class="button button-block
                button-royal">Add</button>
              </div>
            </form>
          </ion-conent>
        </div>
      </script>

      <script id="edit-task.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar class="bar-secondary">
            <h1 class="title">Edit Task</h1>
            <button class="button button-clear button-royal"
            ng-click="closeEditTask()">Cancel</button>
          </ion-header-bar>
          <ion-content scroll="false">
            <form ng-submit="finishEdit()">
              <div class="list">
                <label class="item item-input">
                  <textarea style="resize:none" cols="123" rows="8" placeholder="Edit task..."
                  ng-model="formData.newtitle" autofocus></textarea>
                </label>
              </div>
              <div class="padding">
                <button type="submit" class="button button-bar button-royal" ng-click="setNew()">
                  Edit</button>
              </div>
            </form>
          </ion-content>
        </div>
      </script>

      <script id="project.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar class="bar-secondary">
            <h1 class="title">Add Project</h1>
            <button class="button button-clear button-royal"
            ng-click="closeAddProject()">Cancel</button>
          </ion-header-bar>
          <ion-content scroll="false">
            <form ng-submit="createProject(name)">
              <div class="list">
                <label class="item item-input">
                  <textarea style="resize:none" cols="123" rows="8" placeholder="Add project..."
                  ng-model="name" autofocus></textarea>
                </label>
              </div>
              <div class="padding">
                <button type="submit" id="btn" class="button button-bar button-royal">
                  Add</button>
              </div>
            </form>
          </ion-content>
        </div>
      </script>

    </ion-side-menus>
  </body>
</html>
